.root {
    display: block;
    -fx-background-color: darkgray;
}

.fontStyle {
    -fx-font-size: 15px;
    -fx-font-family: sans-serif;
}

#welcome_label {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-font-weight: bold;
    -fx-border-width: 4;
    -fx-border-insets: -5;
    -fx-padding: 10px;
    -fx-font-size: 18px;
}

#run_button {
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-font-size: 20px;
}

#fractal_chooser {
    -fx-border-color: black;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: dashed;
    -fx-padding: 10px;
}

#fractal_chooser_label {
    -fx-padding: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}